*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url(img/bg1.jpg);
	background-size: 100% 90%;
	background-repeat: no-repeat;
}
/* ------------------------------------------------------------Nav bar--------------------------------------------------------------------------------------- */
.navbar {
	color: white;
	width: 100%;
	padding: 15px;
    display: flex;
    justify-content: space-between;
	background: linear-gradient(to bottom left,#0F2027,#203A43,#2C5364);
}
#helpIcon {
    cursor: pointer;
	display: flex;
	justify-content: flex-end;
}
#helpIcon i{
    padding-right: 5px;
}
#helpCard {
	display: none;
	width: 400px;
	height: 300px;
    background-color: white;
    padding: 20px;
	border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    z-index: 1000;
}
.content{
	margin: 50px 0px 0px 10px;
	font-size: 16px;
}
.content p{
	color: black;
	padding: 15px;
	font-weight: bold;
}
.content p i{
	color: green;
	padding-right: 10px;
	font-size: 20px;
}
.content p:last-child i{
	color: red;
}
#cancelIcon {
	color: black;
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-size: 20px;
}
#blurBackground {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
/* ------------------------------------------------------------Container------------------------------------------------------------------------------------- */
#container{
    width: 90%;
    max-width: 500px;
	height: 510px;
	padding: 5px;
	margin: 20px 0px;
	border: 2px solid black;
	border-radius: 5px;
}
.inputContainer{
	display: flex;
	justify-content: center;
	margin-top: 10px;
}
#inputBox{
	width: 70%;
	max-width: 400px;
    padding: 10px;
    margin-right: 10px;
    border: 2px solid gray;
    border-radius: 5px;
    font-size: 16px;
}
#inputBox:focus{
    border-color: goldenrod;
    outline: none;
}
#btn{
	color: white;
	background-color: rgb(31, 194, 85);
	width: 50px;
	border-style: none;
	cursor: pointer;
	border-radius: 5px;
}
#btn:hover{
	background-color: rgb(19, 156, 65);
}
#alertMessage{
	color: red;
	text-align: center;
	padding: 10px;
	font-weight: bold;
}
#taskContainer{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-height: 420px;
	overflow-y: auto;
}
.task{
	margin-top: 10px;
	width: 80%;
	padding: 10px;
	text-align: center;
	cursor: pointer;
	border:2px solid green;
	border-radius: 5px;
	word-wrap: break-word;
	transition: all 0.3s ease-out; 
	background-color: white;
}
.completed{
	opacity: 0.5;
	border-color: tomato;
	text-decoration: line-through;
	transition: all 0.3s ease-in; 
}
.statistics{
	width: 100%;
	height: 100%;
	font-family: sans-serif;
}
.statistics h1{
	font-size: 60px;
	text-align: center;
	color: rgb(42, 177, 201);
	text-shadow: 5px 5px 15px black;
}
.taskStatus{
	padding: 20px;
	display: flex;
	justify-content: space-around;
}
.taskStatus p{
	font-weight: bold;
	padding: 20px;
}
.taskStatus div{
	width: 200px;
	height: 250px;
	background-color: white;
	border-radius: 10px;
	text-align: center;
	box-shadow: 5px 5px 15px black;
}
.taskStatus .incompletedTask h1{
	color: yellow;
	font-size: 100px;
	text-shadow: 1px 1px 30px black;
}
.taskStatus .completedTask h1{
	color: green;
	font-size: 100px;
	text-shadow: 1px 1px 30px black;
}
.taskStatus .deletedTask h1{
	color: red;
	font-size: 100px;
	text-shadow: 1px 1px 30px black;
}
/* ------------------------------------------------------------Footer---------------------------------------------------------------------------------------- */
footer { 
	width: 100%;
    color: #fff;
	background: linear-gradient(to bottom left,#0F2027,#203A43,#2C5364);
    padding: 20px 0;
    text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.column {
	flex: 1;
	margin-right: 20px;
}
a{
	color: white;
	text-decoration: none;
}
.one ul p{
	padding: 10px;
	font-size: 18px;
}
.one ul i{
	padding-right: 10px;
}
.two p{
	margin: 15px;
}
.three ul i{
	padding: 10px;
	font-size: 20px;
	color: black;
	background-color: white;
	border-radius: 50%;
	cursor: pointer;
	margin: 10px;
}
.three ul i:hover{
	color: black;
	background-color: cyan;
}
/* ------------------------------------------------------------Responsive------------------------------------------------------------------------------------ -*/
@media only screen and (max-width: 768px) {
	body{
		background-image: url(img/bg2.jpg);
	}
	#helpCard{
		padding: 0;
		width: 300px;
		height: 200px;
	}
	.content{
		font-size: 13px;
		margin: 20px 0px 0px 0px;
	}
	.statistics h1{
		font-size: 30px;
	}
	.taskStatus div{
		width: 120px;
		height: 180px;
	}
	.taskStatus p{
		font-size: 15px;
	}
	footer {
		flex-direction: column;
		text-align: center;
	}
	.column {
		margin-right: 0;
		margin-bottom: 20px;
	}
}
